.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 1400px;
  height: 100vh;
}

.topContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(228, 222, 222);
  align-items: center;
  box-sizing: border-box;
  padding: 35px 95px 35px 95px;

  width: 1400px;

}

.preNav {

  /* margin-bottom: 0 0 60px 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
}

.logoText {

  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 35px;



}

.logoImg {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 10px;
  padding-right: 20px;
}

.sideLogo {
  width: 20px;
  height: 20px;
  padding: 5px;

}

.engText {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 12px;
  height: 15px;
  margin-top: 2.5px;
}

.arrow {

  height: 10px;
  transform: rotate(90deg);
  margin-bottom: 7px;
  padding-left: 10px;
}

.nav {
  margin: 60px 0 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  width: 600px;

}

.navText {
  font-family: 'Inter', sans-serif;
  font-weight: bold;

  height: 20px;

}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}

.title {
  font-family: 'Inter', sans-serif;
  font: normal;
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 10px;
  display: inline-block;
}

.infoText {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 700px;
  line-height: 1.5;

}

.midContainer {

  display: flex;
  flex-direction: column;
  padding: 0 0 24px 0;

  position: relative;
  padding: 0 90px 0 90px;
  width: 1200px;
}

.midContainerLine {
  background-color: #d4d1d1;
  margin: 0 0 23px 0;
  height: 1px;
  width: 1200;

}

.midLeft {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;


}

.midLeftText {


  padding-bottom: 20px;
  margin: 0 20px 0 0;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.2;

}

.leftArrow {
  transform: rotate(180deg);
  height: 10px;
  width: 4px;
  
}

.leftArrowLogo {
  display: flex;
  flex-direction: row;
  padding-right: 3px;
  margin-top: 5px;
}

.midLeft1 {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  

}

.midLeft1Text {

  
   
  
  word-break: break-words;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 0.9;
  text-decoration: underline;
  color: #888792;
  padding-left: 10px;
}
.midLeft1But{
  display: flex;  
  align-items: center;  
  padding: 5px 10px;
  background: none;
  border: none;
  cursor: pointer;


}
 
.button {
  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
  padding: 0;

}

.midRight {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;


}

.midRightText {

  padding-left: 620px;
  margin: 0 18.5px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

.midRightArrow {
  transform: rotate(90deg);
  height: 10px;
  margin-top: 11px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  border-bottom: none;
  left: 0;
  width: 100%;
  list-style-type: none;
  border-top: 0;
  padding: 0;

}

.dropdown li {
  padding-left: 620px;
  margin-bottom: 9px;

}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin: 0 90px 50px 90px;
  width: 1020px;
  height: 1200px;
  box-sizing: border-box;
}

.filters {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 16px 2000px 0;
  width: 250px;
  justify-content: flex-start;
}

.products {
  flex: 1;
}

.filterHeading {
  font-weight: bold;
  font-size: 16px;

  padding-left: 5px;


}

.line {
  width: 250px;
  height: 1px;
  background-color: #d4d1d1;
  margin-top: 13px;
  margin-bottom: 13px;
}

.idealFor {
  display: flex;
  flex-direction: column;
}

.idealforBut {
  margin-top: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
  padding: 0;
  font-weight: bold;
  font-size: 16px;

}

.idealforArrow {
  transform: rotate(90deg);
  height: 10px;

}

.idealoptions {
  margin-top: 10px;
}

.idealoptions li {
  list-style: none;
  margin-bottom: 9px;
}

.filterArrow {

  justify-content: end;
  justify-self: end;
}

.products {
  display: flex;
  justify-items: center;

}

.prod {
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: fit-content;
  padding: 4px;
}

.footer {

  background-color: #000000;
  position: relative;
  margin: 0;
  width: 1020px;
  display: flex;
  flex-direction: column;

  height: 450px;
  padding: 10px 20px 10px 20px;



}

.Upperfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
}

.leftUpper {
  width: 400px;
}

.leftUpper>p {
  margin-top: 5px;
  margin-bottom: 20px;

}

.footerText {
  color: #d4d1d1;
  font-weight: bold;
padding-bottom: 3px;;
}

.footerTextSmall {
  color: #d4d1d1;

}

.rightUpper>p {
  margin-bottom: 7px;
}

.subBut {
  background-color: #000000;
  color: rgb(192, 189, 189);
  padding: 5px;
  margin-left: 6px;
  ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #afacac;
}

.styles.search {
  color: rgb(192, 189, 189);
  border-radius: 5px;

}

.leftUpper>input {
  height: 30px;
  width: 250px;
}

.Lowerfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerline {
  width: 1000px;
  height: 1px;
  background-color: #d4d1d1;
  margin-top: 13px;
  margin-bottom: 13px;
}
.copyright{
  color: white;
  text-align: center;
  font-size: 12px;
  margin: 2px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 90%;  
  }

  .topContainer,
  .midContainer,
  .mainContainer,
  .footer {
    width: 100%; 
  }

  .preNav,
  .nav,
  .midLeft,
  .midRight {
    width: auto;  
  }

 
  .topContainer {
    padding: 20px;
  }

  .midContainer {
    padding: 0 50px 0 50px;
  }

  .footer {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;  
  }

  .topContainer,
  .midContainer,
  .mainContainer,
  .footer {
    width: 100%;  
  }

   
  .preNav,
  .nav,
  .midLeft,
  .midRight {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  
  .topContainer,
  .midContainer,
  .footer {
    padding: 10px;
  }

  .logoText,
  .navText,
  .infoText,
  .midLeftText,
  .midRightText {
    font-size: 14px;  
  }
}
